.outer-skills-containers {
  display: flex;
  justify-content: center;

  @include breakpoint(small) {
    margin-right: 3.5em;
  }
}

.row {
  display: flex;
  flex-direction: row;

  div {
    margin: 0 5%;
  }
}
